<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/place.css">
<head>
	<div id="div1"><%=request.place.district%>
		<% if(user) { %><button id = "del">Delete</button> <% } %>
	</div>
</head>
<body id="pa1" style="background-image: url('<%=request.place.image%>')">

	<div id="div2">

		<p>
			<%=request.place.description%>
			<%console.log(food)%>
		</p>
<% for(var i=0; i<food.length; i++) { %>
<h1> <%=food[i].name%></h1>
      <div id="MorogPolao">
			<img  id="mp" src="<%=food[i].image%>" />
			<p id="p1">
				<%=food[i].description%>
				<br/>
				<%=food[i].ratings%>
			</p>
		</div>

      <%}%>
	

</div>
	
<div id="footer"></div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
$("#del").click(function(event){
	$.ajax({
              url:"/api/places/"+<%- JSON.stringify(request.place._id) %>,
              method:"delete"
            }).done(function(response){
              console.log(response);
              window.location.replace("/places/all");
            }).fail(function(response){
              console.log(response.responseText);
              $("#error").text(JSON.parse(response.responseText).message);
            });
});
</script>

</body>
</html>
